<!-- start custom head snippets -->

<!-- Allow collapsible code blocks -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
jQuery( function($) {
  $( ".highlight.collapsible" ).accordion({
    collapsible: true
  });
  $( ".highlight.collapsible.default-collapsed" ).accordion({
    active: false
  });
} );
</script>
<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
