---
layout: archive
author_profile: true
---
<h1>Collections</h1>
<div class="grid__wrapper">
  {% for element in site.data.collections %}
    {% if element.teaser %}
      {% capture teaser %}{{ element.teaser }}{% endcapture %}
    {% else %}
      {% assign teaser = site.teaser %}
    {% endif %}

    {% if element.title %}
      {% assign title = element.title | markdownify | remove: "<p>" | remove: "</p>" %}
    {% else %}
      {% assign title = element.title %}
    {% endif %}

    <div class="grid__item">
      <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        {% if teaser %}
          <div class="archive__item-teaser">
            <img src=
              {% if teaser contains "://" %}
                "{{ teaser }}"
              {% else %}
                "{{ teaser | absolute_url }}"
              {% endif %}
              alt="">
          </div>
        {% endif %}
        <h2 class="archive__item-title" itemprop="headline">
          {% if element.link %}
            <a href="{{ element.link }}">{{ title }}</a>
          {% endif %}
        </h2>
        {% if element.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ element.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
      </article>
    </div>
  {% endfor %}
</div>
