{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% assign first_page_path = site.paginate_path | replace: 'page:num', '' | replace: '//', '/' | absolute_url %}
  <ul>

    {% comment %} Link for previous page {% endcomment %}
    {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a></li>
    {% else %}
      <li><a href="#" class="disabled"><span aria-hidden="true">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</span></a></li>
    {% endif %}


    {% comment %} Page trail : [1][2][3].. {% endcomment %}
    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        {% if page.url == trail.path %}
          <li class="disabled current"><a href="#" title="{{trail.title}}">{{trail.num}}</a>
        {% else %}
          <li>
            <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% comment %} Link next page {% endcomment %}
    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | prepend: site.baseurl }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a></li>
    {% else %}
      <li><a href="#" class="disabled"><span aria-hidden="true">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</span></a></li>
    {% endif %}

  </ul>
</nav>
{% endif %}
