<form class="search-form" action="{{ site.baseurl }}/search/" method="get">
	<div class="search-group">
		 <input class="search-input" type="text" name="q" required>
		 <span class="search-highlight"></span>
		 <span class="search-bar"></span>
		 <label class="search-label">Search here</label>
	</div>
</form>
