$search-width: 200px;

/* form starting stylings ------------------------------- */
form.search-form {
  margin: 0px;
  padding: 8px 0px 0px 0px;
  background-color: transparent;
}

.search-group 			  {
  position:relative;
}
input.search-input				{
  font-size:14px;
  padding: 17px 5px 5px 5px;
  display:block;
  width:$search-width;
  border:none;
  border-bottom: 1.5px solid #ffffff;
  border-radius: 0px;
  margin-bottom: 0px;
  box-shadow: none;
}
.search-input:focus 		{
  outline:none;
  box-shadow: none;
}

/* LABEL ======================================= */
label.search-label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  font-size: 14px;
}

/* active state */
input.search-input:focus ~ label.search-label, input.search-input:valid ~ label.search-label	{
  top:-3px;
  font-size:10px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.search-bar 	{ position:relative; display:block; width:$search-width; }
.search-bar:before, .search-bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.search-bar:before {
  left:50%;
}
.search-bar:after {
  right:50%;
}

/* active state */
input.search-input:focus ~ .search-bar:before, input.search-input:focus ~ .search-bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.search-highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input.search-input:focus ~ .search-highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
